<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%class{5} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.epam.task.first" level="WARN"/>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>